{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "react/jsx-boolean-value": 0,
    "max-len": [2, 180, 2],
    "arrow-parens": [2, "as-needed"],
    "space-before-function-paren": [2, "never"]
  }
}
